{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}

{% block content %}
<h1 class="text-center alert alert-success">You are in Home Page</h1>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Full Name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Semester</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Reason</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for leave in student_leaves %}
          <tr>
            <th scope="row">{{ leave.id }}</th>

            <td>{{ leave.roll_number}}</td>
            <td>{{ leave.full_name }}</td>
            <td>{{ leave.faculty }}</td>
            <td>{{ leave.semester }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.reason }}</td>
            <td class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <button class="btn btn-primary me-2">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
            
            
          </tr>
          {% empty %}
          <tr>
            <td colspan="8" class="text-center">No leave records found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
